*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root {
    /* palette */
    --main-white: #FDF7F7;
    --shade-white: #d3d3d3;
    --main-black: #000101;
    --title-color:#7EA2BA;
    --footer-color:#7EA2BA;     
    --color-detail:#047B90;
    --title-h3: #342D27;
    --text-color:#342D27;   
    --color-navigation:#0D3958;  
    
     /*fonts*/
    
    --font-text: sans serif;
}

body{
  display:flex;
  flex-direction: column;
}

main{
  flex-grow:1;
}
     
.landing{
    min-height: 100vh;
    background:url("./ressources/home.jpg");
    background-size:cover;
    padding: 0rem 2rem;
    background-origin: center;   
    background-position: center center;
}
nav{
 display:flex;
 align-items: center;
 justify-content: space-between;
 min-height: 10vh; 
 color:var(--main-black);
 font-weight: bold;

}
.nav-links{
    display:flex;
    list-style: none;
}
.nav-links li{
    padding-left:3rem;
    font-size: 1.2rem;
    text-transform: uppercase;
}
#logo{
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 2rem;
   }
    
.big-text{
    position:absolute;
    left:50%;
    top:30%;
    transform:translate(-50%, -30%);
    font-size: calc(2rem + 3vw);
    font-family: sans-serif;
    color:var(--main-white);
    min-width: 280px;
    text-align: center;
    background-color:var(--color-detail);
    padding:1rem;
    letter-spacing: 0.2rem;
}
.intro{
    background:var(--main-black);
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.slider{
    background: var(--footer-color);
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;    
    transform:translateY(100%);
}
.intro-text{
    color:var(--shade-white);
    font-family: Heebo sans serif;
    font-size: calc(1rem + 2.5vw);
}
.hide{
    background:var(--main-black);
    overflow:hidden;
}
.hide span{
    transform:translateY(100%);
    display:inline-block;
}
.titre{
    font-size: calc(1rem + 4vw);
    color:var(--title-h3);
    text-align: center;
    margin:5rem 0;
    text-transform: uppercase;
}
.content{
 padding:0 10vw;
 font-size: 20px;
 text-align: justify;
}

.go-top-btn{
    position:fixed;
    bottom:2rem;
    right:2rem;
    border-radius: 50%;
    border-style: none;
    cursor: pointer;
    height: 3.5rem;
    width: 3.5rem;
    display:none;
    justify-content: center;   
    align-items: center;
}
.go-top-btn img{
  height: 1.5rem;
  width: 1.5rem;
}

/* Section 2 */
.section2{  
    height: 100vh;
}

.container {
    width: 60%;
    min-width: 320px;
    position:relative;
    transform:translate(-50%, -40%);
    left:50%;
    top:35%;
    overflow: hidden;
    border-radius: 5px;
    display: grid;
    padding:30px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.3);
    background: var(--shade-white);   
  }
  
  .slide {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0; 
    display: none;  
  }
  .slide.active {
    display: flex;
  }
  .content {
    color: var(--title-h3);
    text-align: center;
  }
  .content img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    
  }
  .content h3 {
    font-size: calc(0.5rem + 1.5vw);
    margin-top: 1.5rem;
 }
  
  .direction-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 3px;
    border: none;
    background:var(--main-white);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bolder;
    color:var(--title-h3);
    outline:none;
  }
  .direction-btn:hover {
    background:var(--dark-gris);
  }
  
  .direction-btn.right {
    right: 5%;
  }
  .direction-btn.left {
    left: 5%;
  }
.section2 h2{   
    text-align: center;
    padding-top:3rem;
    text-transform:uppercase;
    font-size: calc(0.5rem + 1.5vw); 
    color: var(--title-h3);
}

footer{
  flex-shrink: 0;
  border-top: 1px dashed var(--text-color);
  width: 100%;
  background:var(--footer-color);
  color:var(--text-color);
}

.contenu-footer{
  width: 1400px;
  margin: 0 auto;
  display:flex;
  justify-content:space-between;  
  font-size: 20px;
  padding: 50px 0 100px;
 }

.bloc{
  width: 25%;
  margin: 0 30px;
}

/* contact */

.footer-contact h3,
.footer-services h3,
.footer-horaires h3,
.footer-medias h3{
  font-size: 25px;
  padding-bottom:20px;
  color:var(--main-white)
}

.footer-contact p{
  padding:5px 0;
}

/* Services */

.liste-services,
.liste-horaires,
.liste-media{
  list-style-type: none;
  }
.liste-services li{
  padding: 2px 0;
  }
.liste-services a{
  text-decoration:none;
  color:var(--text-color);
}


 

@media (max-width:768px){
  .go-top-btn{
    height: 3rem;
    width: 3rem;
  }  
  .section2{
    height: 70vh;
} 
}; 

@media screen and (max-width:1300px){
  .contenu-footer{
    width: 700px;
    flex-wrap:wrap;
 
  }
  .bloc{
    width:40%;
    margin: 0 0;
   
  }
  .bloc:nth-child(1),
  .bloc:nth-child(2){
    margin-bottom:50px;
 
  }
}
   
  
  
  
  
  
  
  
  
  
  
  